:root {
    --am-theme-color: #0057FC;
    --am-body-color: #57595C;
    --am-common-black: #0A0E1A;
    --am-cream: #FBF6EF;
    --am-black: black;
    --am-white: white;
}                                            