@use '../../utils' as *;

.am-hero-space{
    @media #{$lg} {
        padding-top: 81px;
        padding-bottom: 78px;
    }
    @media #{$md} {
        padding-top: 75px;
        padding-bottom: 65px;
    }
    @media #{$sm} {
        padding-top: 0;
        padding-bottom: 35px;
    }
    @media #{$xs} {
        padding-top: 15px;
        padding-bottom: 60px;
    }
    
}

.hero-title-space{
    @media #{$xs} {
        padding-bottom: 15px;
    }
}
.am-hero-area{
    @media #{$md} {
        padding-top: 0;
      }
}
.am-hero-text-area{
    text-align: center;
    border: 3px solid rgb(53,53,53);
    border-radius: 45px;
    padding: 35px 0;
    & h2{
        font-size: 28px;
        color: var(--am-common-black);
        font-family: var(--am-font-heading);
        @media #{$lg} {
            font-size: 35px;
          }
    }
    & span{
        font-weight: 600;
        color: var(--am-body-color);
        font-family: var(--am-font-body);
    }
    & p{
        font-weight: 600;
        color: var(--am-body-color);
        font-family: var(--am-font-body);
    }
}

.am-hero-details{
    & p{
        font-size: 20px;
        font-weight: 500;
        font-family: var(--am-font-body);
        padding: 33px 107px;
        @media #{$lg} {
            padding: 27px;
            font-size: 20px;
            padding-bottom: 25px;
          }
        @media #{$md} {
            padding: 13px;
            font-size: 17px;
            padding-bottom: 20px;
          }
        @media #{$sm} {
            font-size: 20px;
            font-weight: 500;
            padding: 6px 10px;
          }
        @media #{$xs} {
            font-size: 18px;
            font-weight: 500;
            font-family: var(--am-font-body);
            padding: -14px 107px;
            padding-bottom: 10px;
            padding: 0 11px;
          }
    }
}



