$font-url : ('https://fonts.googleapis.com/css2?family=Fenix&family=Zilla+Slab:wght@400;500;600;700&display=swap');
:root {
    --am-font-heading: "Fenix", serif;
    --am-font-body: "Zilla Slab", serif;
    --am-font-flaticon: "flaticon";
}